.logo {
  margin: auto 0% auto 0%;
  padding: 1% 0% 1% 1.6%;
  color: #000;
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mainLinks {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;

  flex-grow: 1;
  /* margin-right: 4%; */
}

.mainLinks .active {
  color: #04095a; /* Change the color to your desired active link color */
  font-weight: bold; /* Optionally, make the active link bold */
}
.mainLinks a {
  color: #7e7e7e;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.additionalLinks {
  display: flex;
  gap: 3%;
  margin-right: 5%;
}

.clocked {
  border: none;
  background-color: #fff;
}

.admin {
  border: none;
  background-color: #fff;
}

.account {
  align-self: center;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .mainLinks {
    gap: 3%;
  }
}
