/******************************************* Sidebar ***********************************************************************/

.sidebarText {
  margin: 4% 0% 10% 10%;
  float: left;
}

.clinicalButton {
  /* margin: 20px 189.92px 19.45px 24px; */
  margin: 6% 0% 10% 6%;
  width: 85%;
  height: 44px;
  background-color: #04095a;
  color: #fff;
  font-family: Outfit;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px;
  text-align: center;
}

.dropdownIcon {
  float: right;
  margin-right: 3%;
}

.appointment {
  margin: 4% 0% 8% 6%;
  width: 75%;
  height: 50px;
  background-color: #f8fbff;
  border: none;
  /* justify-content: center; */
}

.appointmentIcon {
  float: left;
  margin-left: 2%;
  margin-right: 0%;
  /* margin: 7% 0% 2% 8%; */
}
.appointmentText {
  margin: 0% 0% 2% 0%;
  color: #7e7e7e;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.taskButton {
  margin: 0% 0% 8% 6%;
  width: 75%;
  height: 50px;
  background-color: #f8fbff;
  border: none;
  border-right: 3px solid #04095a;
}

.tasksIcon {
  float: left;
  margin-left: 2%;
  /* margin: 7% 0% 2% 8%; */
}

.taskText {
  color: #04095a;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 936px) {
  /* MAking the button text fade away and displaying only the icon positioning it to the center */
  .buttonText,
  .appointmentText,
  .taskText {
    display: none;
  }
  .dropdownIcon,
  .appointmentIcon,
  .tasksIcon {
    margin-left: auto;
    margin-right: auto;
  }
}
