.taskPanel {
  margin-left: 5%;
}

.taskPanel h3 {
  margin-top: 2.7%;
  font-size: 1.2em;
  margin-bottom: 2px;
  color: #000;
  font-family: Outfit;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  overflow: hidden;
}

.taskPanel h5 {
  color: #7e7e7e;
  font-family: Outfit;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 41px;
  overflow: hidden;
}

.links {
  width: 25%;
  margin-left: 3.5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  /* margin-bottom: 10px; */
}

.links div {
  color: #7e7e7e;
  font-family: Outfit;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

#linkOnActive {
  color: #04095a;
}

.activeLinkImageForUpcoming {
  padding-left: 5%;
  grid-column-start: 1;
  grid-column-end: 2;
}

.activeLinkImageForCompleted {
  padding-left: 5%;
  grid-column-start: 2;
  grid-column-end: 3;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
  .links div {
    white-space: wrap;
  }
}
